

.flex {
    display: flex;
    justify-content: space-around; 
}

.wrapper {
    box-shadow: 10px 10px 10px gray;
    width: 70%;
    margin: 0 auto;
}

.avatar img {
    justify-content: flex-start;
    max-width: 300px;
    display: block;
}

.header {
    background-color: aquamarine;
    flex-grow: 5;  
    padding-left: 50px;
}

#container1 {
    display: flex;
}

.skills {
    flex-basis: 35%;  
}

.profile { 
    padding: 40px;
    flex-basis: 80%;
}

.stars {
    font-size: 30px;
    letter-spacing: 5px;
    margin-top: 5px;
}

.skill-name {
    margin-bottom: 0;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.yellow-stars {
    color: blue;
}